.flex-home {
    display: flex;
}

.center {
  position: relative;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 1;
  transition: opacity 0.3s;
}

.container:hover img {
  opacity: 0.6;
}

.middle {
  transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.middle a {
  color: transparent;
  text-decoration: none;
  padding: 10px 20px;
  transition: color 0.3s;
}

.container:hover .middle a {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}